body{
    background: url(diego-ph-5LOhydOtTKU-unsplash.jpg);
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Loginbox{
    width: 320px;
    height: 420px;
    color: darkslategray;
    background: rgba(118, 168, 214, 0.493);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.Loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.Loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.Loginbox input[type="text"], input[name="Password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
}

.Loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.Loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.Loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(73, 66, 66);
}
.Loginbox a:hover{
    color: burlywood;
}